:root {
  display: flex;
  text-align: center;
  align-items:center;
  justify-content:space-evenly;
  margin: 10px;
  padding: 10px;
}
.contenedor-id{
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 5px
}
.contenedor-droides{
  display: flex;
  flex-direction:row;
  margin: 20px;
}
.seleccione{
  background-color: rgba(0, 0, 255, 0.444);
}

